@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   position: fixed;
   width: 100vw;
   overflow: auto;
}

html,
body,
#root {
   height: 100%;
}

#root {
   display: flex;
   flex-direction: column;
}

#root main {
   flex-grow: 1;
   /* overflow: auto; */
}

i {
   line-height: 1em !important;
}

.navIconMenu {
   transition: height 0.15s ease;
   height: 0;
   overflow: hidden;

   interpolate-size: allow-keywords;

   &.active {
      height: auto;
      overflow: visible;
   }
}

.InputField {
   position: relative;
   span {
      position: absolute;
      top: 0.625rem;
      left: 0.75rem;
   }
   input:not(:placeholder-shown) ~ span,
   input:focus ~ span {
      font-size: 0.8rem;
      top: 0.125rem;
   }

   input {
      box-sizing: border-box;
   }
}

